%table(class="table table-condensed" )
  %tbody
    %tr
      %td 1
      %td
        %a(onclick="#" )
          %i(class="icon-thumbs-up" )
      %td This is a style test subject
    %tr
      %td
      %td
      %td submmited by xianlinbox 1 hours ago
    %tr


